# Prerequisites
*.d

# Swap file
*.swo
*.swp
*~

# Images
*.png
*.pdf

# Root files
*.root

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

*_cc.d
*.pcm

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
